__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases
*.db
*.sqlite3

# Docker
.dockerignore

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
